.icon-small {
  @apply h-5 w-5;
}

.icon-medium {
  @apply h-6 w-6;
}

.icon-small-blue {
  @apply icon-small text-blue-500;
}

.icon-medium-blue {
  @apply icon-medium text-blue-500;
}

.icon-small-gray {
  @apply icon-small text-gray-400;
}

.icon-small-disabled {
  @apply icon-small text-gray-200;
}

.stroke-3 {
  stroke-width: 3;
}

.icon-inline {
  @apply pt-1 mr-1;
}

.icon-tooltip {
  @apply absolute mb-1 z-10 px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg bottom-full -left-1/2 opacity-0 group-hover:opacity-100 pointer-events-none;

  left: -141%;
  width: 400%;
}
