nav {
  display: flex;
  align-items: center;

  height: 60px;
  box-shadow: 0 6px 6px -1px rgba(10, 22, 70, 0.1),
    0 0 1px 0 rgba(10, 22, 70, 0.06);
}

.nav-section-inactive {
  @apply block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0;
}

.nav-section-active {
  @apply block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white;
}

.back-icon {
  @apply icon-medium-blue stroke-3 cursor-pointer mr-2 hover:text-blue-600;
}

.back-icon-small {
  @apply icon-small-blue stroke-3 cursor-pointer mr-2 hover:text-blue-600;
}
