.test-container {
  @apply bg-white px-5 sm:px-10 py-5 sm:py-10 fixed w-full h-auto z-20 left-0 border-b border-gray-200;

  top: 60px;
  max-height: 50%;
  overflow-y: auto;
}

.test-title {
  @apply text-xl font-bold tracking-tight leading-none text-gray-900 mb-3;
}


.document-container {
  /* TODO */
  top: 60px;
}
